<!DOCTYPE html>
<html>
  <head>
    <title>Penn Planner</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/footer.css' />
    <link rel='stylesheet' href='/stylesheets/tipped.css' />
    <link rel='stylesheet' href='/stylesheets/card.css' />

    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Sortable/1.5.0-rc1/Sortable.min.js"></script>
  </head>
  <body>
    <!-- navbar -->
    <%- include('navbar'); %>

    <!-- course card (no display) -->
    <%- include('card'); %>

    <!-- main content -->
    <div id="schedule" class="container">
      <table id="schedule">
        <tr>
          <th colspan="3">Four Year Plan</th>
        </tr>

        <% for (var i = 0; i < semesters.length; i+=2) { %>
          <tr>
            <td class="heading" colspan="2">Fall <span class="year"><%= startYear + (i > 0 ? i / 2 : 0) %></span></td>
            <td class="heading">Spring <span class="year"><%= startYear + (i > 0 ? i / 2 : 0) + 1 %></span></td>
          </tr>

          <tr>
            <td class="fall section" colspan="2">
              <ul class="courses">
                <% for (var j = 0 ; j < semesters[i].courses.length; j++) {%>
                  <li data-credit="<%= semesters[i].courses[j].credit %>" class="course"><%= semesters[i].courses[j].code %></li>
                <% } %>
              <ul>
            </td>
            <td class="spring section">
              <ul class="courses">
                <% for (var j = 0 ; j < semesters[i+1].courses.length; j++) {%>
                  <li data-credit="<%= semesters[i+1].courses[j].credit %>"class="course"><%= semesters[i+1].courses[j].code %></li>
                <% } %>
              <ul>
            </td>
          </tr>
        <% } %>

        <tr class="controls">
          <td class="btn" id="add-course">
            <span><i class='fa fa-plus'></i>&nbsp;<span class="label">Add Course</span></span>
          </td>
          <td class="btn" id="add-label">
            <span><i class='fa fa-plus'></i>&nbsp;<span class="label">Add Label</span></span>
          </td>
          <td class="btn">
            <span>
                <i class='fa fa-book'></i>
                &nbsp;<span id="credit-total" class="label"></span> CU (total)&nbsp;
                <i class='fa fa-tags'></i>
                &nbsp;<span id="label-total" class="label">2</span> Labels &nbsp;
            <span>
          </td>
        </tr>
      </table>
      <p class="labels"></p>
    </div>

    <script type="text/javascript" src="/javascripts/jquery.override.js"></script>
    <script type="text/javascript" src="/javascripts/tipped.js"></script>
    <script type="text/javascript" src="/javascripts/plan.js"></script>
  </body>
</html>
